@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body {
    background-color: #191919;
    font-family: 'Didact Gothic', sans-serif;
    color: whitesmoke;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: hsl(0, 0%, 14%);
    color: whitesmoke;
    height: 56px;
    padding-top: 35px;
    width: 100%;
}

.menuB {
    padding: 0;
    background-color: hsl(0, 0%, 14%);
    color: whitesmoke;
    margin-right: 12px;
    margin-bottom: 29px;
    margin-top: 10px;
}

.menuB:hover {
    color: whitesmoke;
}

.navbar-brand {
    margin-left: 10px;
    margin-bottom: 20px;
}

.search {
    margin-bottom: 15px;
}

.navbar-toggler {
    margin-bottom: 20px;
}

.search .form-control {
    height: 30px;
    width: 400px;
    border-color: rgb(59, 59, 59);
    border-radius: 2px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 6px;
}

.search .input-group button {
    background-color: rgb(59, 59, 59);
    padding: 1px 6px;
    color: rgb(126, 123, 123);
    height: 31px;
    width: 64px;
    border-radius: 2px;
}

.search .speech {
    color: whitesmoke;
}

.screen {
    background-color: black;
    height: 544px;
    border-color: hsl(0, 0%, 14%);
    width: 100%;
    display: flex;
    object-fit: contain;
    margin-left: 4%;
}

.screen iframe {
    height: 100%;
    border-color: hsl(0, 0%, 14%);
    width: 100%;
    object-fit: contain;
}

.panel-text {
    margin: 1%;
    margin-left: 2.5%;
    font-size: 103%;
    margin-bottom: 10%;
    line-height: 1%;
}

.genre {
    color: #aaa;
}

.icon-stack {
    margin-left: 80%;
    color: rgb(126, 123, 123);
}

.icon-stack .material-icons {
    margin: 7%;
    color: rgb(126, 123, 123);
}

.icon-stack .material-icons:hover {
    transform: scale(1.2, 1.2);
    color: #405DE6;
    text-decoration: underline;
}

.panel hr {
    background-color: rgb(126, 123, 123, 0.6);
    height: 0.02%;
}

.panel img {
    height: 70px;
    width: 70px;
}

.sub {
    background-color: rgb(255, 0, 0);
    margin-left: 80%;
    border-radius: 5%;
}

.sub:hover {
    background-color: rgb(133, 23, 23);
}

.padding {
    padding: 20px;
}

.image_logo {
    display: none;
}

.image_logo img {
    margin-bottom: 40%;
    margin-left: 20%;
    width: 70%;
    height: 60%;
}

.videos {
    margin: 28px;
    margin-left: 0px;
}

.videos a:hover {
    text-decoration: none;
}

.video-item {
    bottom: 10px;
    border-radius: 0;
    background-color: #191919;
    margin-top: 10px;
    border-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    height: 85%;
    width: 85%;
}

.video-item:hover {
    transform: scale(1.1, 1.1);
    text-decoration: none;
}

.video-item img {
    background-color: hsl(0, 0%, 14%);
    border-radius: 0;
}

.video-item .card-title {
    padding: 0px;
    margin-bottom: 0px;
}

.video-item .card-body {
    padding: 3%;
}

.video-item .card-text {
    color: #aaa;
}

@media (max-width: 768px) {
    .search .form-control {
        width: 75px;
    }
    .navbar {
        background-color: hsl(0, 0%, 14%);
        color: whitesmoke;
        height: 56px;
        padding-top: 5px;
        display: none;
    }
    .search .input-group button {
        background-color: rgb(59, 59, 59);
        padding: 1px 6px;
        color: rgb(126, 123, 123);
        height: 31px;
        width: 30px;
        border-radius: 2px;
    }
    .screen {
        background-color: black;
        height: 60%;
        width: 100%;
        object-fit: contain;
        display: flex;
        margin-bottom: 40px;
        margin-left: 0;
    }
    .screen iframe {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .padding {
        margin: 10px;
        padding: 0px;
    }
    .icon-stack {
        margin-left: 1px;
    }
    .icon-stack .material-icons {
        margin: 2px;
    }
    .sub {
        margin-left: 60%;
    }
    .panel {
        margin-bottom: 30%;
    }
    .collapse {
        margin-bottom: 150%;
    }
    .videos{
        background-color: #191919;
    }
    .video_item {
        transform: scale(0.8, 0.8);
    }
}